body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../课程详情_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:200px;
    top:53px;
    width:1000px;
    height:2277px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:2283px;
}

.u1 {
    position:absolute;
    left:2px;
    top:1130px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../课程详情_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:272px;
    top:1133px;
    width:838px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:844px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:834px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../课程详情_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:230px;
    top:558px;
    width:940px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../课程详情_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:200px;
    top:9px;
    width:1005px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1005px;
    height:45px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:1001px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:475px;
    top:23px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:548px;
    top:23px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:625px;
    top:23px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:795px;
    top:23px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../课程详情_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:870px;
    top:23px;
    width:15px;
    height:16px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../课程详情_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:945px;
    top:14px;
    width:237px;
    height:34px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:34px;
}

.u15 {
    position:absolute;
    left:2px;
    top:9px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:963px;
    top:22px;
    width:96px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:697px;
    top:24px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_container {
    position:absolute;
    left:240px;
    top:13px;
    width:116px;
    height:37px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:37px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u20 {
    position:absolute;
    left:755px;
    top:-9px;
    width:321px;
    height:330px;
    overflow:hidden;
}

#pd0u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:330px;
    
}

.u21_normal {
    background-image: url('../课程详情_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:20px;
    top:10px;
    width:162px;
    height:300px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:162px;
    height:300px;
}

.u22 {
    position:absolute;
    left:2px;
    top:142px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../课程详情_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:28px;
    top:215px;
    width:154px;
    height:6px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:6px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:50px;
    top:190px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:50px;
    top:138px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:50px;
    top:164px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:50px;
    top:102px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:50px;
    top:76px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:52px;
    top:231px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:50px;
    top:272px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../课程详情_files/u23_normal.png');
}

.u32_container {
    position:absolute;
    left:28px;
    top:123px;
    width:154px;
    height:6px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:6px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../课程详情_files/u23_normal.png');
}

.u34_container {
    position:absolute;
    left:28px;
    top:256px;
    width:154px;
    height:6px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:6px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:40px;
    top:38px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../课程详情_files/u12_normal.png');
}

.u37_container {
    position:absolute;
    left:115px;
    top:38px;
    width:15px;
    height:16px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u38 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:290px;
    top:110px;
    width:260px;
    height:230px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:230px;
}

.u40 {
    position:absolute;
    left:2px;
    top:107px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:595px;
    top:110px;
    width:185px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../课程详情_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:595px;
    top:170px;
    width:112px;
    height:24px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:24px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../课程详情_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:601px;
    top:389px;
    width:20px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:601px;
    top:280px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:601px;
    top:306px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:631px;
    top:393px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../课程详情_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:677px;
    top:377px;
    width:103px;
    height:33px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:39px;
}

.u50 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:703px;
    top:385px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:601px;
    top:340px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:686px;
    top:306px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:290px;
    top:570px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../课程详情_files/u4_normal.png');
}

.u55_container {
    position:absolute;
    left:230px;
    top:710px;
    width:940px;
    height:40px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:46px;
}

.u56 {
    position:absolute;
    left:2px;
    top:12px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:290px;
    top:722px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../课程详情_files/u4_normal.png');
}

.u58_container {
    position:absolute;
    left:230px;
    top:840px;
    width:940px;
    height:40px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:46px;
}

.u59 {
    position:absolute;
    left:2px;
    top:12px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:290px;
    top:852px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../课程详情_files/u4_normal.png');
}

.u61_container {
    position:absolute;
    left:230px;
    top:1080px;
    width:940px;
    height:40px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:46px;
}

.u62 {
    position:absolute;
    left:2px;
    top:12px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:290px;
    top:1092px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../课程详情_files/u4_normal.png');
}

.u64_container {
    position:absolute;
    left:230px;
    top:1663px;
    width:940px;
    height:40px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:46px;
}

.u65 {
    position:absolute;
    left:2px;
    top:12px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:290px;
    top:1675px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:280px;
    top:620px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:280px;
    top:654px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:578px;
    top:620px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:578px;
    top:654px;
    width:225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:280px;
    top:770px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:280px;
    top:804px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:595px;
    top:770px;
    width:277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:595px;
    top:804px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_container {
    position:absolute;
    left:260px;
    top:912px;
    width:120px;
    height:110px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:110px;
}

.u76 {
    position:absolute;
    left:2px;
    top:47px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:595px;
    top:141px;
    width:253px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:432px;
    top:912px;
    width:118px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:500px;
    top:915px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:432px;
    top:950px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:290px;
    top:1140px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_container {
    position:absolute;
    left:290px;
    top:1197px;
    width:50px;
    height:52px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:52px;
}

.u83 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_container {
    position:absolute;
    left:513px;
    top:1197px;
    width:55px;
    height:53px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:53px;
}

.u85 {
    position:absolute;
    left:2px;
    top:18px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:350px;
    top:1197px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:350px;
    top:1217px;
    width:130px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:578px;
    top:1205px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_container {
    position:absolute;
    left:691px;
    top:1197px;
    width:54px;
    height:52px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:52px;
}

.u90 {
    position:absolute;
    left:2px;
    top:18px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:768px;
    top:1197px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:768px;
    top:1217px;
    width:130px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_container {
    position:absolute;
    left:930px;
    top:1197px;
    width:50px;
    height:52px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:52px;
}

.u94 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:1010px;
    top:1197px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:1010px;
    top:1217px;
    width:130px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../课程详情_files/u2_normal.png');
}

.u97_container {
    position:absolute;
    left:272px;
    top:1277px;
    width:838px;
    height:30px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:844px;
    height:36px;
}

.u98 {
    position:absolute;
    left:2px;
    top:7px;
    width:834px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../课程详情_files/u2_normal.png');
}

.u99_container {
    position:absolute;
    left:272px;
    top:1430px;
    width:838px;
    height:30px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:844px;
    height:36px;
}

.u100 {
    position:absolute;
    left:2px;
    top:7px;
    width:834px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:290px;
    top:1284px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:290px;
    top:1437px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:270px;
    top:1727px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../课程详情_files/u42_normal.png');
}

.u104_container {
    position:absolute;
    left:375px;
    top:1723px;
    width:112px;
    height:24px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:24px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../课程详情_files/u49_normal.png');
}

.u106_container {
    position:absolute;
    left:620px;
    top:1719px;
    width:103px;
    height:33px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:39px;
}

.u107 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:646px;
    top:1727px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_container {
    position:absolute;
    left:270px;
    top:1793px;
    width:50px;
    height:50px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u110 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:337px;
    top:1793px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_container {
    position:absolute;
    left:410px;
    top:1796px;
    width:88px;
    height:16px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:16px;
}

.u113 {
    position:absolute;
    left:2px;
    top:0px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:337px;
    top:1827px;
    width:213px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:337px;
    top:1877px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_line {
    background-image: url('../课程详情_files/u116_line.png');
}

.u116_line {
    position:absolute;
    left:0px;
    top:4px;
    width:888px;
    height:3px;
}

.u116 {
    position:absolute;
    left:272px;
    top:1903px;
    width:888px;
    height:10px;
    
}

.u117_normal {
    background-image: url('../课程详情_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:780px;
    top:1863px;
    width:50px;
    height:30px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u118 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:793px;
    top:1871px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:840px;
    top:1870px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_container {
    position:absolute;
    left:272px;
    top:1942px;
    width:50px;
    height:50px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u122 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:338px;
    top:1942px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_container {
    position:absolute;
    left:412px;
    top:1945px;
    width:88px;
    height:16px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:16px;
}

.u125 {
    position:absolute;
    left:2px;
    top:0px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:338px;
    top:1976px;
    width:213px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:338px;
    top:2026px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_line {
    background-image: url('../课程详情_files/u128_line.png');
}

.u128_line {
    position:absolute;
    left:0px;
    top:4px;
    width:888px;
    height:3px;
}

.u128 {
    position:absolute;
    left:274px;
    top:2052px;
    width:888px;
    height:10px;
    
}

.u129_normal {
    background-image: url('../课程详情_files/u117_normal.png');
}

.u129_container {
    position:absolute;
    left:782px;
    top:2012px;
    width:50px;
    height:30px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u130 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:794px;
    top:2020px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:842px;
    top:2019px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../课程详情_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:652px;
    top:2125px;
    width:40px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:611px;
    top:2127px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:696px;
    top:2129px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:717px;
    top:2126px;
    width:47px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u138_normal {
    background-image: url('../课程详情_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:488px;
    top:2119px;
    width:38px;
    height:31px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:31px;
}

.u139 {
    position:absolute;
    left:2px;
    top:8px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../课程详情_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:523px;
    top:2119px;
    width:78px;
    height:31px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:31px;
}

.u141 {
    position:absolute;
    left:2px;
    top:8px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../课程详情_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:321px;
    top:2119px;
    width:82px;
    height:31px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:31px;
}

.u143 {
    position:absolute;
    left:2px;
    top:8px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:340px;
    top:2129px;
    width:39px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:542px;
    top:2129px;
    width:41px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../课程详情_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:400px;
    top:2119px;
    width:38px;
    height:31px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:31px;
}

.u147 {
    position:absolute;
    left:2px;
    top:8px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:410px;
    top:2129px;
    width:18px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../课程详情_files/u149_normal.png');
}

.u149_container {
    position:absolute;
    left:429px;
    top:2119px;
    width:38px;
    height:31px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:31px;
}

.u150 {
    position:absolute;
    left:2px;
    top:8px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:441px;
    top:2129px;
    width:14px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../课程详情_files/u152_normal.png');
}

.u152_container {
    position:absolute;
    left:459px;
    top:2119px;
    width:38px;
    height:31px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:31px;
}

.u153 {
    position:absolute;
    left:2px;
    top:8px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:471px;
    top:2129px;
    width:14px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:501px;
    top:2129px;
    width:14px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_container {
    position:absolute;
    left:290px;
    top:1338px;
    width:50px;
    height:52px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:52px;
}

.u157 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:350px;
    top:1338px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:350px;
    top:1358px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_container {
    position:absolute;
    left:290px;
    top:1490px;
    width:50px;
    height:52px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:52px;
}

.u161 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:350px;
    top:1490px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:350px;
    top:1510px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:601px;
    top:212px;
    width:419px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../课程详情_files/u4_normal.png');
}

.u165_container {
    position:absolute;
    left:230px;
    top:440px;
    width:940px;
    height:40px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:46px;
}

.u166 {
    position:absolute;
    left:2px;
    top:12px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:290px;
    top:452px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:290px;
    top:494px;
    width:278px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:686px;
    top:280px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:744px;
    top:339px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

