/* CUSTOMIZE THE container-fluid
-------------------------------------------------- */
.container-fluid {
	width: 1024px;
	margin: 0 auto;
	padding-right: 0px;
	padding-left: 0px;
}
.container.search-bar {
	background-image: url("/courses/resources/img/default/search_bg.png");
	background-position:left top;
	background-repeat: no-repeat;
	height: 76px;
	text-align: center;
	margin: 40px 0px 0px 0px;
	width: 1024px;
}
.container.search-bar .cont {
	margin-top: 10px;
}

/* Carousel base class
-------------------------------------------------- */
.carousel {
  margin-bottom: 60px;
 
}
.carouselbg{
  background-image: url("/courses/resources/img/default/carousel_bg.png");
  height: 360px;
  background-position: top center;
  background-repeat: repeat-x;
  text-align: center;
}
.carousel .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
   width: 697px;
   
}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
  padding-top:10px;
  height: 319px; 
  margin-left: 150px;
}
#myCarousel .carousel img {
  min-width: 100%;
  height: 300px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 40px;
  margin-bottom: 100px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.container.title{
	background-color: #adcc75;
 	color: #353535;
 	font-family:Arial,'Microsoft YaHei';
  	width: 1024px;

}
.container.title >table{
	width: 90%;
	margin-left: 38px;
}

.container.title .count{
	margin-right: 20px;
	font-weight: bold;
}

.container.marketing {
  width: 1024px;

}

.container.marketing .row {
  margin-left: 0px;
  background-image: url("/courses/resources/img/default/course_bg.png");
  background-position: top left;
  background-repeat: repeat-x;
  text-align: center;
}
.container.marketing .row .span4 {
 width: 250px; 
 margin-left:70px;
 margin-top:30px;
 margin-bottom:20px;
  text-align: left;
}


.container.user-course
{
  width: 1024px;
  background-image: url("/courses/resources/img/default/course_bg.png");
  background-position: top center;
  background-repeat: repeat-x;
	
}
.container.user-course .row {
  margin-left: 60px;
  text-align: center;
}
.row .span2{
  margin:30px 30px;
  width:130px;
  height: 130px;
 
}
.row .span4 {
width: 310px;
margin: 20px 0px 20px 40px;
/*
-webkit-box-shadow: #999 0px 1px 2px 0px;
box-shadow: #999 0px 1px 2px 0px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #EEE;*/

}

.container.university {
  width: 1024px;
  max-width:1024px;
  margin-bottom: 0px;
}
.container.university .row {
  margin-left: 0px;
}
.container.university .row .span3{
  background-image: url(../img/ust/ust_logo_160x60.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 80px;
  -webkit-box-shadow: #999 0px 1px 2px 0px;
  box-shadow: #999 0px 1px 2px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEE;
  margin: 2px 2px;
}

.container.teacher {
  width: 1024px;
}

.container.teacher .bgimg {
  background-image: url("/courses/resources/img/default/course_front_bg.png");
  background-position: top left;
  background-repeat: repeat-x;
  height: 340px;
	
}

.container.teacher .teacherInfo{
 margin-left:50px;
  width: 95%;
}
.container.teacher .teacherInfo .span1{
  /*background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/avatar/avatar40.png);
  height: 80px;
  -webkit-box-shadow: #999 0px 1px 2px 0px;
  box-shadow: #999 0px 1px 2px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEE;
  margin: 2px 2px;
  margin-right: 24px;*/
  background-position: center;
  background-repeat: no-repeat;
  margin:30px 43px 20px 19px;
  width: 131px;
  height: 89px;
  text-align: center;
	padding: 2px;
	border: 1px solid #ccc;
}
.container.teacher .teacherInfo .span2{
  background-position: center;
  margin:30px 20px;
  width: 96px;
  height: 96px;
  /*background-color: #adcc75;*/
  /*background-color:#ccdfa8;*/
  text-align: center;
  padding: 2px;
  border: 1px solid #cccccc;
}

.container.teacher .teacherInfo .span3{
   margin:30px 30px;
  width:130px;
  height: 130px;
	text-align: center;
	padding: 3px;
	background-color: #fff;
	border: 1px solid #ccc;
	line-height: 25px;

}

 .selete_filter{
 	margin-top:20px;
	margin-left:60px;
	text-align: left;
}
.selete_filter >span{
	font-weight: bold;
	font-size: 15px;
	margin-left: 20px;
}


#myUniversity, #myTeacher {
  margin-bottom: 0px;
}

.view-all-teachers-link, .view-all-courses-link {
	display: block;
	text-align: center;
	margin-right: 35px;
	padding: 5px 5px;
	background: #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
}