.outer {
	/*width:600px;*/
	width:500px;
	/*margin:5px 0px 0px 280px;*/

	
	float: left;
}
#tab {
	overflow:hidden;
	zoom:1;
	border:0px solid #ccc;
	border-bottom-width:0;
		font:12px/1.5 Tahoma;
		margin-left: 104px;
		margin-bottom: -10px;
}
#tab li {
	float:left;
	color:#999;
	height:28px;
	cursor:pointer;
	line-height:25px;
	list-style-type:none;
	padding:2px 30px;
	margin-right:5px;
	border:1px solid #ccc;
	border-bottom-width:0;
		
		border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#tab li.current {
	color:#000;
	background:#fff;
		
		border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#content {
	/*width:800px;*/
	border:0px solid #ccc;
	border-top-width:0;
	text-align: left;
	float: left;
	
}
#content ul {
	display:none;
	padding:0px 0;
	list-style-type:none;
}

/* my requirement tab css  */

#tab_req {
	overflow:hidden;
	zoom:1;
		color: #3f5517;
			line-height: 40px;
		margin-left: 70px;
		margin-top: 5px;
}
#tab_req li {
	float:left;
	color:#3f5517;
	cursor:pointer;

	list-style-type:none;
	padding:2px 15px;
	margin-right:5px;
	/*border:1px solid #ccc;*/
	border-bottom-width:0;
		

}
#tab_req li.current {
	color:#3f5517;
	background:#fff;
}
#content_req {
	width:900px;
	border:0px solid #ccc;
	border-top-width:0;
	text-align: left;
	float: left;
	margin: 20px 0px 20px 70px;
	
}

 .centerline{
	background-image: url("<c:url value='/resources/img/default/centerline.png'></c:url>");
	background-position: center top;
	background-repeat: repeat-y;
}
#content_req ul {
	display:none;
	padding:0px 0;
	list-style-type:none;
}

.bLine_dash{
	border-bottom: 1px dashed #ccc;	
}

.tLine_dash{
	border-top: 1px dashed #ccc;	
}
