/*style for all pages with top level navbar*/
body {
	padding-top: 40px;
	/*padding-bottom: 40px;*/ /*since by default we use white background, but now we use images*/
	min-width: 1024px;
	max-width: 1024px;
	width: 1024px;
	margin: 0 auto;
}

/*banner*/
.banner {
	background-color: #ECECF0;
	height: 80px;
}

/*footer*/
.footer-text {
	text-align: center;
}

/*logo*/
#logo {
	width: 120px;
	height: 50px;
	position: absolute;
	text-indent: -999em;
	background: url(../img/logo.png)  no-repeat;
	left: 50%;
	top: 0px;
	margin-top: -5px;
	margin-left: -50px;
	box-shadow: none;
}