body{
	margin: 0px;
	width:100%;
	background:url(../img/top_bg.jpg) repeat;
}

.divmenubg{
	height:50px;
	width:100%;
	background:url(../img/Menu_bg02.jpg) repeat-x;
	z-index:-1;
}
.divtopbg{
	background:url(../img/top_bg.jpg) repeat;
	height:640px;
	width:100%;
	margin:0px auto;
}
/*for now please avoid adding css into this file*/